body {
  font-size: 16px;
}

header {
  color: #2e7ad3;
  text-align: center;
}
h1 {
  font-size: 48px;
  margin: 45px 0;
}

#main h2 {
  color: #104c90;
  margin: 0;
  margin-bottom: 10px;
}

h2 {
  font-size: 32px;
}

#main {
  background-color: #f1f1f1;
  width: 450px;
  padding: 25px;
  margin: 0 auto;
}

a {
  color: #ff8000;
  font-weight: bold;
}

a:hover,
a:focus {
  color: #104c90;
}
